In [2]:
num1 = 2
num2 = 5
sum = num1 + num2
print(sum)

7

In [1]:
print("Hello World")

Hello World

In [3]:
name = "Millio"
age = 24
is_student = True
weight = 60.3

print(type(name))
print(type(age))
print(type(is_student))
print(type(weight))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>

In [4]:
my_numbers =[1, 2, 3 ,4, 5]
my_nums = (1, 2, 3, 4)
print(type(my_numbers))
print(type(my_nums))

<class 'list'>
<class 'tuple'>

In [5]:
my_dict = {
    "username": "levi",
    "password": "0000"
}
print(type(my_dict))

<class 'dict'>

In [1]:
my_set = {'sugar', 'salt'}
print(type(my_set))

<class 'set'>

In [13]:
import math
a= 10
b = 3

print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a // b)
print(a % b)
print(a ^ b)
print(a ** b)

print(math.sqrt(64))
print(math.pi)
print(math.floor(3.141592653589793))
print(math.ceil(3.1))
print(math.pow(3, 3))

13
30
7
3.3333333333333335
3
1
9
1000
8.0
3.141592653589793
3
4
27.0

In [15]:
number = 12.3456789
truncated_number = "{:.3f}".format(number)  
print(truncated_number)

12.346

In [17]:
print(round(3.2636328, 3))
print(round(math.sqrt(2), 2))

3.264
1.41

In [20]:
num3 = float(input('Enter First Number: '))
num4 = float(input('Enter Second Number: '))

sum = (num3 + num4)
print(sum)

12.0

In [23]:
first_name = input('Enter First Name: ')
second_name = input('Enter Second Name: ')

name = (first_name + ' ' + second_name)
print(name)

Levi Njenga

In [24]:
text = 'Hello There'
lowercase_text = text.lower()
print(lowercase_text)

hello there

In [25]:
text = 'Hello There'
uppercase_text = text.upper()
print(uppercase_text)

HELLO THERE

In [26]:
text = 'Hello There'
uppercase_text = text.swapcase()
print(uppercase_text)

hELLO tHERE

In [33]:
text = 'Hello There'
print(text.upper())
print(text.lower())
print(text.swapcase())
print(text.title())

text2 = '12b'
print(text2.isalnum())
print(text.isspace())
print(text2.isalpha())

HELLO THERE
hello there
hELLO tHERE
Hello There
True
False
False

In [6]:
colors = 'red, blue, green, yellow'.split(',')
print(type(colors))

joined = ' '.join(colors)
print(colors)
print(joined)

name = input('Enter Your Name: ')
age = int(input('Enter Your Age: '))

print (f'{name} is {age} years old.')

<class 'list'>
['red', ' blue', ' green', ' yellow']
red  blue  green  yellow
Millo Levi is 23 years old.

In [7]:
s = 'Hello there, \'How are you\'\n'
print(s)

Hello there, 'How are you'

In [1]:
name_input = input('Enter Your Name: ')
print(f'{name_input}')

Millo

In [2]:
Hours =float(input('Enter Hours: '))
rate = float(input('Enter Rate: '))
pay = (Hours * rate)

print(round(pay, 2))

30.84

In [6]:
width = 17
height = 12.0

result1 = width // 2      
result2 = width / 2.0     
result3 = height / 3      
result4 = 1 + 2 * 5       

print(type(result1))
print(type(result2))
print(type(result3))
print(type(result4))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>